{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 class="page-title">Tea Notes</h1>
<ul class="list-group list-group-flush" id="notes"> 
  {% set cur_page = page|int %} 
  {% set NOTE_IN_PAGE = 5 %}
  {% for note in notes[::-1][NOTE_IN_PAGE*(cur_page-1): NOTE_IN_PAGE*cur_page] %}
  <li class="list-group-item">
    <div class="d-flex flex-wrap align-items-center justify-content-center hd-highlight" style="gap:4rem;">    
      <div class="bd-highlight">
        <a href="{{ url_for('views.show_note', noteid=note.id) }}">
          <img class="tea-image" src= "{{ url_for('static', filename= 'upload-images/') + note.image }}" />
        </a>
      </div>
      <div class="bd-highlight">
        <div class="note-content"><span class="tea-name">{{ note.teaname }}</span></div>
        <div class="note-content"><span>{{ '★' * note.grade }}</span><span>{{ '☆' * (5 - note.grade) }}</span></div>
        <div class="note-content">&nbsp;{{ note.brief_note1 }}</div>
        <div class="note-content">&nbsp;{{ note.brief_note2 }}</div>
        <div class="note-content">&nbsp;{{ note.brief_note3 }}</div>
        <div class="note-content">&nbsp;{{ note.brief_note4 }}</div>
        <div class="note-content">{{ note.date }}</div>
        <div class="note-content">{{ users.query.filter_by(id=note.user_id).first().pen_name }} </div>
        <div class="float-end mt-2">
          {% if (note.user_id == user.id) or (user.tier == 1) %}
          <button type="button" class="btn-close" onClick="deleteNote({{ note.id }})">
          </button>
           {% else %}
          <!-- <button type="button" class="btn-close" disabled>
          </button>  -->
          {% endif %}
        </div>
      </div>
    </div>    
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block style %}
{{ super() }}
<style>
  .page-title {
    text-align: center;
    font-weight: bold;
  }
  .tea-image {
    width: 23rem;
  }
  .note-content {
    width: 23rem;
    border-bottom: 1px dashed rgb(165, 162, 162);
    text-align: right;
  }
  .tea-name {
    font-weight: bold;
  }
</style>
{% endblock %}

{% block foot %}
  {% set NOTE_IN_PAGE = 5 %}
  {% set cur_page = page|int %}
  {% set NOTE_COUNT = notes|count %}  
  {% set TOTAL_PAGES= ((NOTE_COUNT-1) // NOTE_IN_PAGE) + 1 %}
  {% if filter_type == "전체" %}
    {% set PAGE_URL = url_for('views.home')  %}  
  {% else %}
  {% set PAGE_URL = url_for('views.home',filter_type=filter_type, filter_content=filter_content)  %}  
  {% endif %}
  
  <!-- 전체 페이지 수가 2일 때 -->
  {% if TOTAL_PAGES == 2 %}  
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% if cur_page == 1 %}
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          1
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=2' }}">2</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL }}">1</a></li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          2
          <span class="sr-only">(current)</span>
        </span>
      </li>      
      {% endif %}
  {% endif %}
  <!-- 전체 페이지 수가 3일 때 -->
  {% if TOTAL_PAGES == 3 %}  
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% if cur_page == 1 %}
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          1
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=2' }}">2</a></li>
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=3' }}">3</a></li>
      {% elif cur_page == 2 %}
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL }}">1</a></li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          2
          <span class="sr-only">(current)</span>
        </span>
      </li>   
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=3' }}">3</a></li>  
      {% else %}
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=1' }}">1</a></li>
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=2' }}">2</a></li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          3
          <span class="sr-only">(current)</span>
        </span>
      </li> 
      {% endif %}
  {% endif %}
  <!-- 전체 페이지 수가 4이상일 때 -->
  {% if TOTAL_PAGES > 3 %}    
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% if cur_page == 1 %}
      <li class="page-item disabled"><a class="page-link" href="{{ PAGE_URL + '?page=' + (cur_page - 1)|string }}">Previous</a></li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          1
          <span class="sr-only">(current)</span>
        </span>
      </li>   
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=2' }}">2</a></li> 
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=3' }}">3</a></li> 
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=' + (cur_page + 1)|string }}">Next</a></li> 
      {% else %}
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=' + (cur_page - 1)|string }}">Previous</a></li>
        {% if cur_page-2 > 0 %}
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li> 
        {% endif %}
      <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=' + (cur_page - 1)|string }}">{{ cur_page-1 }}</a></li> 
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          {{ cur_page }}
          <span class="sr-only">(current)</span>
        </span>
      </li> 
        {% if cur_page+1 <= TOTAL_PAGES %}  
        <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=' + (cur_page + 1)|string }}">{{ cur_page+1 }}</a></li>
          {% if cur_page+2 <= TOTAL_PAGES %}
          <li class="page-item disabled"><a class="page-link" href="#">...</a></li> 
          {% endif %}
        {% endif %} 
        {% if cur_page >= TOTAL_PAGES %}
        <li class="page-item disabled"><a class="page-link" href="{{ PAGE_URL + '?page=' + (cur_page + 1)|string }}">Next</a></li> 
        {% else %}
        <li class="page-item"><a class="page-link" href="{{ PAGE_URL + '?page=' + (cur_page + 1)|string }}">Next</a></li> 
        {% endif %}
      {% endif %}
  {% endif %} 
    </ul>    
  </nav>
  <hr></hr>
  <form method="POST" enctype="multipart/form-data">
    <div class="input-group justify-content-center mx-2">
      <div class="col-auto">
        <select class="form-select" name="filter-type" id="inputGroupSelect01" aria-label="Example select with button addon">
          {% set filter_types=["전체", "차명", "필명", "종류"] %}
          {% for filtertype in filter_types %}
          {% if filter_type == filtertype %}
            <option selected value="{{ filtertype }}">{{ filtertype }}</option>
          {% else %}
            <option value="{{ filtertype }}">{{ filtertype }}</option>
          {% endif %}{% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          
          <input type="text" class="form-control" name="filter-content" id="inlineFormInputGroup" value="{{ '' if filter_type=='전체' else filter_content }}">
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-white border mb-2">찾기</button>
      </div>
    </div>
  </form>

{% endblock %}