
{% extends "base.html" %} {% block title %}Chart{% endblock %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="charts">    
    <div class="chart-item">
        <p class="chart-title"> 맛</p>
        <div class="chart-element"><canvas  id="taste_chart"></canvas></div>        
    </div>
    <div class="chart-item">
        <p class="chart-title"> 향</p>
        <div class="chart-element"><canvas  id="perfume_chart"></canvas></div>        
    </div>
    
</div>
{% endblock %}

{% block javascript %}
{{ super() }}
<script>
    const ctx = document.getElementById('taste_chart');
    const ctx2 = document.getElementById('perfume_chart');

    const tasteChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['풍부함', '기름짐', '훈연', '균형', '불쾌감', '후미', '수렴성', '매운맛', '신맛', '쓴맛', '짠맛', '단맛'],
            datasets: [{
                label: '맛',
                data: [3, 1, 1, 1, 4, 2, 1, 3, 2, 5, 1, 3],
                borderWidth: 1
                }]
            },
        options: {            
            scales: {
                r: {
                    angleLines: {
                        display: true
                        },                    
                    grid:{circular: true},
                    ticks: {stepSize:1},
                    suggestedMin: 1,
                    suggestedMax: 5
                    }
                },            
            plugins: {
                legend:{
                    display: false,
                    }    
                }
            }
        }
    );

    const perfumeChart = new Chart(ctx2, {
        type: 'radar',
        data: {
            labels: ['식물향', '바다형', '우유향', '꽃향', '토양향', '목재향', '과일향', '탄향', '동물향', '광물향', '단향', '매운향'],
            datasets: [{
                label: '향',
                data: [3, 5, 3, 2, 2, 3, 3, 5, 3, 2, 2, 3],
                borderWidth: 1
                }]
            },
        options: {            
            scales: {
                r: {
                    angleLines: {
                        display: true
                        },                    
                    grid:{circular: true},
                    ticks: {stepSize:1},
                    suggestedMin: 1,
                    suggestedMax: 5
                    }
                },
            plugins: {
                legend:{
                    display: false,
                    }    
                }           
            }
        }
    );


  </script>
  {% endblock %}
  {% block style %}
  <style>
    .charts {
        display: flex;
        text-align: center;
        flex-direction: row;
        align-items: center;
        
        justify-content: space-around;
    }
    .chart-item {
        flex: none;
        width: 30%;
        height: 30%;
    }
    .chart-item .child {
        justify-items: center;
        align-items: center;
    }
  </style>
  {% endblock %}
