{% extends "base.html" %} {% block title %}Tea Note{% endblock %} {% block content
    %}
<h1 align="center">Tea Note</h1>

{% set tea_kinds = {"백차":"white-tea", "황차": "yellow-tea", "녹차":"green-tea", "우롱차":"oorong", "홍차":"red-tea", "보이차":"boi", "기타": 'etc'} %}

<form method="POST" enctype="multipart/form-data">
  <div>
  <input type="text" name = "title" id="title" placeholder="차이름" />
  <input type="text" name = "saler" id="saler" placeholder="판매처" />
  <input type="text" name = "country" id="country" placeholder="원산지" />
  </div>

  <div class="type-of-tea">
    {% for tea_key, tea_value in tea_kinds.items() %}
    <input type="radio" name="{{ tea_key }}" id="{{ tea_value }}" /> {{ tea_key }}
    {% endfor %}
  </div>

  <div class="environment">
    <div class="environment-item">    
        <label for="tea-quantity">무게(g) </label><input type="number" name = "tea-quantity" id="tea-quantity" value="5" /> 
    </div>
    <div class="environment-item"> 
        <label for="tea-temprature">온도(℃) </label><input type="number" name = "tea-temprature" id="tea-temprature" value="35" />
    </div>
    <div class="environment-item"> 
        <label for="tea-brew-time">시간(sec) </label><input type="number" name = "tea-brew-time" id="tea-brew-time" value="100" />
    </div>
  </div>
  
  <div class="tea-grade">
    평점: <input type="range" min="1" max="5" name="reputation" value="1" />
  </div>

  <div class="survey">
    <div class="survey-subject">
        <div class="survey-subject-text">맛</div>
        <div class="taste-survey">
            {% for taste in ['풍부함', '기름짐', '훈연', '균형', '불쾌감', '후미', '수렴성', '매운맛', '신맛', '쓴맛', '짠맛', '단맛'] %}
            <div class="survey-item">
                <label class="survey-label" for="t{{ loop.index }}">{{ taste }}</label>
                <input type="range" name="t{{ loop.index }}" id="t{{ loop.index }}" min="1" max="10" value="5" oninput="document.getElementById('t{{ loop.index }}_value').innerHTML=this.value;"/>
                <span class="value-indicator" id="t{{ loop.index }}_value" oninput="document.getElementById('t{{ loop.index }}').innerHTML=this.value;">5</span>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="survey-subject">
        <div class="survey-subject-text">향</div>
        <div class="perfume-survey">
            {% for perfume in ['식물향', '바다형', '우유향', '꽃향', '토양향', '목재향', '과일향', '탄향', '동물향', '광물향', '단향', '매운향'] %}
            <div class="survey-item">
                <label class="survey-label" for="p{{ loop.index }}">{{ perfume }}</label>
                <input type="range" name="p{{ loop.index }}" id="p{{ loop.index }}" min="1" max="10" value="5" oninput="document.getElementById('p{{ loop.index }}_value').innerHTML=this.value;" />
                <span class="value-indicator" id="p{{ loop.index }}_value">5</span>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>

  <textarea name="note" id="note" class="form-control" placeholder="총평" rows="4"></textarea>
  <input type="file" name="file" />
  <br />
  <div class="submit-button">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>

{% endblock %}

{% block style %}
<style>
    .value-indicator {
        display: inline-block;
        padding: 0px 10px;
        border: 1px solid black;
        text-align: center;
    }
    .survey-label {
        display: inline-block;
        width: 80px;
        text-align: center;
    }
    .survey {
        display:flex;
        justify-content: space-around;
    }
    .survey-subject {
        display: flex;
    }
    .survey-subject-text {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 50px;
    }
    .submit-button {
        text-align: center;
    }
</style>
{% endblock %}
