{% extends "base.html" %} {% block title %}Tea Note{% endblock %} 
{% block content %}
<h1 align="center">Tea Note</h1>

{% set tea_kinds = {"백차":"white-tea", "황차": "yellow-tea", "녹차":"green-tea", "우롱차":"oorong", "홍차":"red-tea", "보이차":"boi", "기타": 'etc'} %}

<form id="teanote_form" method="POST" enctype="multipart/form-data">

    <div class="tea-outline-class">
        <div class="tea-outline-layout">
            <div class="type-of-tea">
                {% for tea_key, tea_value in tea_kinds.items() %}
                <input type="radio" name="tea-types" id="{{ tea_value }}" value="{{ tea_key }}" /> {{ tea_key }}
                {% endfor %}
            </div>
            <span class="d-block p-0 "> &nbsp; </span>
            <div class="tea-name-saler-country">
                <div class="tea-outline-item"> 
                    <label class="input-label" for="teaname">차이름</label><input class="tea-outline-input" type="text" name = "teaname" id="teaname" />
                </div>
                <div class="tea-outline-item"> 
                    <label class="input-label" for="sailer">판매처</label><input class="tea-outline-input" type="text" name = "sailer" id="sailer" />
                </div>
                <div class="tea-outline-item"> 
                    <label class="input-label" for="country">원산지</label><input class="tea-outline-input" type="text" name = "country" id="country" />
                </div>
            </div>
        </div>
        <div class="tea-outline-layout">
            <div class="tea-grade">
                <label class="input-label" for="country">평점: </label><input type="range" class="big-slider" min="1" max="5" name="grade" value="1" />
            </div>
            <span class="d-block p-0 "> &nbsp; </span>
            <div class="environment">
                <div class="tea-outline-item">    
                    <label class="input-label" for="tea-quantity">무게(g)</label><input class="tea-outline-input" type="number" name = "tea-quantity" id="tea-quantity" value="5" /> 
                </div>
                <div class="tea-outline-item"> 
                    <label class="input-label" for="tea-temprature">온도(℃)</label><input class="tea-outline-input" type="number" name = "tea-temprature" id="tea-temprature" value="35" />
                </div>
                <div class="tea-outline-item"> 
                    <label class="input-label" for="tea-brew-time">시간(초)</label><input class="tea-outline-input" type="number" name = "tea-brew-time" id="tea-brew-time" value="100" />
                </div>
            </div>  
        </div>  
    </div>

    <div class="tea-leaf-class">        
        <div class="tea-leaf-layout">
            <table>
                <th> 
                    <td> 마른 잎</td>
                    <td> 우린 잎</td>
                </th>
                <tr>
                    <td class="table-row-name">외형</td>
                    <td><textarea class="leaf-detail" name='dry-leaf-appearence' id='dry-leaf-appearence'> </textarea>
                    <td><textarea class="leaf-detail" name='brew-leaf-appearence' id='brew-leaf-appearence'></textarea>
                </tr>
                <tr> 
                    <td class="table-row-name">향</td>
                    <td><textarea class="leaf-detail" name='dry-leaf-perfume' id='dry-leaf-perfume' > </textarea>
                    <td><textarea class="leaf-detail" name='brew-leaf-perfume' id='brew-leaf-perfume' ></textarea>
                </tr>
            </table>
        </div>
        <div class="tea-leaf-layout">
            <div class="tea-leaf-color">
                <div>                    
                    <p> 수색 </p>
                    <div>
                        <table class="tea-leaf-color-table">
                            <tr class="colored-row">
                                <td id="gradient-background1"> </td>
                                <td id="gradient-background2"> </td>
                                <td id="gradient-background3"> </td> 
                                <td id="gradient-background4"> </td>
                                <td id="gradient-background5"> </td>
                                <td id="gradient-background6"> </td>
                                <td id="gradient-background7"> </td>
                            </tr>
                        </table>
                    </div>            
                    <div class="leaf-color-items">
                        <input type="radio" name="leaf-color" id="off-white-leaf" value="미색" />미색
                        <input type="radio" name="leaf-color" id="light-green-leaf" value="연두" />연두
                        <input type="radio" name="leaf-color" id="yellow-leaf" value="노랑" />노랑
                        <input type="radio" name="leaf-color" id="amber-leaf" value="호박" />호박
                        <input type="radio" name="leaf-color" id="orange-leaf" value="주황" />주황
                        <input type="radio" name="leaf-color" id="red-leaf" value="빨강" />빨강
                        <input type="radio" name="leaf-color" id="brown-leaf" value="갈색" />갈색                            
                    </div>
                </div>       
                <span class="d-block p-2 "> &nbsp; </span>
                <div class="transparency">
                    <p> 투명도</p>
                    <div>
                        <input type="range" class="big-slider" name="transparency-slider" min="1" max="5" value="3" oninput="document.getElementById('tea-transparency').innerHTML=this.value;" />
                        <span class="value-indicator" id="tea-transparency">3</span>
                        <div class="transparency-text"><span class="trasparecy-index">매우 맑음</span><span class="trasparecy-index">맑음</span><span class="trasparecy-index">중간</span><span class="trasparecy-index">탁함</span><span class="trasparecy-index">매우 탁함</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="survey">
        <div class="survey-subject">
            <div class="taste-survey">
                <div class="taste-slider">                    
                    <div>맛</div>
                    <input type="range" class="big-slider" name="taste-slider" id="taste-slider" min="1" max="10" value="1" />
                    <div class="survey-text"><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span></div>
                </div>
                <span class="d-block p-0 "> &nbsp; </span>
                {% for taste in ['풍부함', '기름짐', '훈연', '균형', '불쾌감', '후미', '수렴성', '매운맛', '신맛', '쓴맛', '짠맛', '단맛'] %}
                <div class="survey-item">
                    <label class="survey-label" for="t{{ loop.index }}">{{ taste }}</label>
                    <input type="range" class="small-slider" name="t{{ loop.index }}" id="t{{ loop.index }}" min="1" max="10" value="5" oninput="document.getElementById('t{{ loop.index }}_value').innerHTML=this.value;"/>
                    <span class="value-indicator" id="t{{ loop.index }}_value">5</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="survey-subject">
            <div class="perfume-survey">
                <div class="perfume-slider"> 
                    <div> 향 </div>
                    <input type="range" class="big-slider" name="perfume-slider" min="1" max="10" value="5" />
                    <div class="survey-text"><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span></div>
                </div>
                <span class="d-block p-0 "> &nbsp; </span>
                {% for perfume in ['식물향', '바다향', '우유향', '꽃향', '토양향', '목재향', '과일향', '탄향', '동물향', '광물향', '단향', '매운향'] %}
                <div class="survey-item">
                    <label class="survey-label" for="p{{ loop.index }}">{{ perfume }}</label>
                    <input type="range" class="small-slider" name="p{{ loop.index }}" id="p{{ loop.index }}" min="1" max="10" value="5" oninput="document.getElementById('p{{ loop.index }}_value').innerHTML=this.value;" />
                    <span class="value-indicator" id="p{{ loop.index }}_value">5</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="tea-finish-class">
        <div class="tea-finish-layout">
            <div class="finish">
                <p> 피니쉬 </p>
                <div>
                    <input type="range" class="big-slider" name="finish-slider" min="1" max="5" value="1" oninput="document.getElementById('tea-finish').innerHTML=this.value;" />
                    <span class="value-indicator" id="tea-finish">1</span>
                    <div class="finish-text"><span>매우 길다</span><span>길다</span> <span>중간</span><span>짧다</span><span>매우 짧다</span></div>
                </div>
            </div>
            <span class="d-block p-0 "> &nbsp; </span>
            <div class="file-input">
                <input class="full-width" type="file" class="btn btn-primary" name="file" />
            </div>
        </div>
        <div class="tea-finish-layout">
            <div>
                <p>총 평</p>
                <textarea class="full-width form-control" name="note" id="note" rows="4"></textarea>
            </div>
        </div>
    </div>
    <span class="d-block p-0 "> &nbsp; </span>
    <div class="submit-button">
        <button type="submit" class="btn btn-primary" id="submit-button">Add Note</button>
    </div>

</form>

{% endblock %}
<!--
{% block javascript %}
<script>
    const form = document.getElementById('teanote_form'); // 폼 엘리먼트
    form.querySelector('#oorong').checked = true; // 체크박스 체크 여부(checked)
    form.querySelector('#off-white-leaf').checked = true; // 체크박스 체크 여부(checked)
</script>
{% endblock %}
-->
{% block style %}
{{ super() }}
<style>
    .value-indicator {
        display: inline-block;
        width: 4rem;
        border: 1px solid black;
        text-align: center;
    }
    .type-of-tea, .leaf-color-items {
        display: flex;
        justify-content: space-between;
    }
    .table-row-name {
        width: 2rem;
        text-align: center;
    }
    .leaf-detail {
        width: 11rem;
        height: 6rem;
    }
    .tea-outline-input {
        width: 20rem;
        text-align: center;
    }
    .input-label {
        width: 4rem;
        text-align: justify;
    }
    .survey-label {
        display: inline-block;
        width: 4rem;
        text-align: justify;
    }
    .survey {
        display:flex;        
        justify-content: center;
    }
    .survey-subject {
        display: flex;        
        justify-content: center;
        padding: 0 2rem;
    }
    .taste-survey {
        justify-items: center;
    }
    .taste-strength-survey {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .big-slider {
        display: inline-block;
        width: 18rem;
    }
    .small-slider {
        display: inline-block;
        width: 12rem;
    }
    span {
        display: inline-block;
    }

    .taste-slider, .perfume-slider {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .survey-item {
        display:flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    .colored-row {
        height: 1rem;
    }
    #gradient-background1 {
        min-width: 3.42rem;
        background-image: linear-gradient(to right, white , #DDDDDD);;
    }
    #gradient-background2 {
        min-width: 3.42rem;
        background-image: linear-gradient(to right, white , #94C056);;
    }
    #gradient-background3 {
        min-width: 3.42rem;
        background-image: linear-gradient(to right, white , #FFD10D);;
    }
    #gradient-background4 {
        min-width: 3.42rem;
        background-image: linear-gradient(to right, white , #BD7F41);;
    }
    #gradient-background5 {
        min-width: 3.42rem;
        background-image: linear-gradient(to right, white , #F2773D);;
    }
    #gradient-background6 {
        min-width: 3.42rem;
        background-image: linear-gradient(to right, white , #BB4642);;
    }
    #gradient-background7 {
        min-width: 3.42rem;
        background-image: linear-gradient(to right, white , #975A3E);;
    }
    .transparency-text, .survey-text, .finish-text {
        display: flex;
        width: 20rem;
        justify-content: space-between;
    }
    .submit-button {
        text-align: center;
    }

    .tea-outline-class, .tea-leaf-class, .tea-finish-class {
        display: flex;
        justify-content: center;
    }
    .tea-outline-layout, .tea-leaf-layout, .tea-finish-layout {
        padding: 2rem;
    }
    .full-width {
        width: 24rem
    }

    #submit-button {
        width: 20rem;
    }

</style>
{% endblock %}
